<header class="header-verde text-white text-center py-3">
    <h1><b>Crear un nuevo cliente</b></h1>
</header>
<body>
    <form class="row g-3" [formGroup]="clienteForm" (ngSubmit)="guardarCliente()">
        <div class="col-12">
            <label for="txtNombre" class="form-label">Nombre</label>
            <input id="txtNombre" class="form-control" formControlName="nombre" >
        </div>
        <div class="col-md-6">
            <label for="txtDocumento" class="form-label">Documento</label>
            <input id="txtDocumento" class="form-control" formControlName="documento" >
        </div>
        <div class="col-md-6">
            <label for="txtCelular" class="form-label">Celular</label>
            <input id="txtCelular" class="form-control" formControlName="celular" >
        </div>
        <div class="col-md-6">
            <label for="txtCorreo" class="form-label">Correo</label>
            <input id="txtCorreo" class="form-control" type="email" html5="true" formControlName="correo" >
        </div>
        <div class="col-md-6">
            <label for="txtFechaCreacion" class="form-label">Fecha de Creación</label>
            <input id="txtFechaCreacion" class="form-control" type="date" formControlName="fechaCreacion" >
        </div>

        <div class="col-12" style="display: flex; justify-content: flex-start; gap: 10px;">
            <button type="submit" class="btn btn-costume">Agregar</button>
            <button type="button" class="btn btn-danger" routerLink="/">Cancelar</button>
        </div>
    </form>
</body>
